@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 667px;
  background-color: #121417;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
  color: darkgray;
}

.attribution a {
  color: #3e52a3;
}

.card {
  background: radial-gradient(circle at top, #242935 0%, #171e28 60%);
  height: 415px;
  width: 410px;
  border-radius: 30px;
}

.card__1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.card__1__star {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252d37;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.card__1__question h2 {
  font-family: "Overpass", sans-serif;
  color: white;
  font-size: 26px;
  margin-bottom: 12px;
}

.card__1__question p {
  font-family: 'Overpass', sans-serif;
  color: #7c8798;
  font-size: 15px;
  line-height: 1.7;
}

.card__1__rate {
  display: flex;
  justify-content: space-between;
}

.card__1__rate__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252d37;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-family: 'Overpass', sans-serif;
  color: #7c8798;
  font-size: 15px;
  line-height: 1.7;
}

.card__1__rate__number p {
  margin-top: 2px;
}

.card__1__rate__number:hover {
  background-color: #7c8798;
  color: white;
  cursor: pointer;
}

.card__1__submit button {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  background-color: #fb7413;
  font-family: "Overpass", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: none;
  animation: 0s;
}

.card__1__submit button:hover {
  background-color: white;
  color: #fb7413;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(2px, 0px) rotate(0deg);
  }
  33% {
    transform: translate(-4px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(2px, 0px) rotate(0deg);
  }
}

.card__2 {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 30px;
  align-items: center;
  text-align: center;
}

.card__2__img {
  margin-top: 10px;
}

.card__2__result {
  display: flex;
  text-align: center;
  justify-content: space-around;
  background-color: #252d37;
  color: #fb7413;
  font-family: "Overpass", sans-serif;
  width: 205px;
  padding: 8px 20px 5px 20px;
  border-radius: 50px;
  font-size: 15px;
}

.card__2__thankyou {
  margin-bottom: 15px;
  padding: 0px 5px;
}

.card__2__thankyou h2 {
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 26px;
  margin-bottom: 10px;
}

.card__2__thankyou p {
  font-family: 'Overpass', sans-serif;
  color: #7c8798;
  font-size: 15px;
  line-height: 1.7;
}

@media only screen and (max-width: 568px) {
  .card {
    max-width: 90%;
  }
}
