.card{
    background: radial-gradient(circle at top, rgba(36,41,53,255) 0%, rgba(23,30,40,255) 60%);
    height: 415px;
    width: 410px;
    border-radius: 30px;
    
    &__1{
        display: flex;
        @include flex-Card;
        &__star{
            display: flex;
            justify-content: center;
            align-items: center;
            @include circle-Style;
                    
        }
        &__question{
            h2{
                font-family: $mainFont;
                color: white;
                font-size: 26px;
                margin-bottom: 12px;
            }
            p{
            @include pText-Style;                
            }
        }
        &__rate{
            display: flex;
            justify-content: space-between;
            &__number{
                display: flex;
                justify-content: center;
                align-items: center;
                @include circle-Style;
                @include pText-Style;
                p{
                    margin-top: 2px;
                }
                &:hover{
                    background-color: hsl(216, 12%, 54%);
                    color: white;
                    cursor: pointer;
                }
            }

        }
        &__submit{
            button{
                width: 100%;
                padding: 15px;
                border-radius: 30px;
                background-color:$primaryColor;
                font-family: $mainFont;
                color: white;
                font-weight: 700;
                font-size: 15px;
                &:hover{
                    background-color: white;
                    color: $primaryColor;
                    cursor: pointer;                                        
                }
                animation: 0s;
                @keyframes shake {
                    0% { transform: translate(2px, 0px) rotate(0deg); } 
                    33% { transform: translate(-4px, 0px) rotate(0deg); }                
                    100% { transform: translate(2px, 0px) rotate(0deg); }
                }                      
                     
            }           
        
        }

    }
    &__2{
        display: none;
        @include flex-Card;
        align-items: center;
        text-align: center;
        &__img{
            margin-top: 10px;

        }
        &__result{
            display: flex;
            text-align: center;
            justify-content: space-around;
            background-color: $circleColor;
            color: $primaryColor;
            font-family: $mainFont;
            width: 205px;
            padding: 8px 20px 5px 20px;
            border-radius: 50px;
            font-size: 15px;
                      
        }
        &__thankyou{
            margin-bottom: 15px;
            padding: 0px 5px;
            h2{
                color: white;
                font-family: $mainFont;
                font-size: 26px;
                margin-bottom: 10px;
            }
            p{
                @include pText-Style;
            }
        }
    }
}
@media only screen and (max-width: 568px){
    .card{
        max-width: 90%;
    }
}
