$primaryColor:#fb7413;
$mainFont: 'Overpass', sans-serif;
$circleColor: #252d37;
@mixin pText-Style{
    font-family: 'Overpass', sans-serif;
    color:#7c8798;
    font-size: 15px;
    line-height: 1.7;
}

@mixin circle-Style {
    background-color: hsl(213, 19%, 18%);
    height: 50px;
    width: 50px;
    border-radius: 100%;

}
@mixin flex-Card {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 30px;
}
@mixin selected-Circle {
    background-color: $primaryColor;
    color:white;       
}